<div id="thread-title" data-mids="{% for mid in result.thread_ids %}{{mid}}{% if loop.index < result.thread_ids|length %},{% endif %}{% endfor %}" class="sub-navigation clearfix">
  <div class="thread-draggable"></div>
  <div class="thread-details">
    <h1 class="half-bottom">{{ nice_subject(result.data.metadata[result.thread_ids[-1]]) }}</h1>
    <div class="clearfix">
      <ul class="thread-tags horizontal left">
      {% for tid in result.data.tags %}{% set tag = result.data.tags[tid] %}
      {% if tag.type in ['priority', 'tag'] %}
      <li class="thread-tag add-right">
        <span class="{{tag.icon}} color-{{tag.label_color}}"></span> {{tag.name}}
      </li>
      {% endif %}
      {% endfor %}
        <li><a href="#" class="icon-add"></a></li>
      </ul>
      <ul class="horizontal right">
        <li><a href="#"><span class="icon-inbox"></span> {{ result.data.metadata|length }} {{_("Messages")}}</a></li>
        <li class="add-left"><a class="show-thread-people" data-toggle="modal" data-target="#myModal" href="#"><span class="icon-user"></span> {{ result.data.addresses|length }} {{_("People")}}</a></li>
        <!-- <li><a class="show-thread-security" href="#"><span class="icon-lock-open"></span> Partially Secure</a></li> -->
      </ul>
    </div>
  </div>
</div>